include LICENSE
include README.md
include README.png
include pyproject.toml
recursive-include docs *.md *.png *.bib *.json
recursive-include examples *.pdf
recursive-include scripts *.py *.sh
recursive-include tests *.py
recursive-include .github *.yml
prune build
prune dist
prune patches
recursive-exclude * __pycache__ *.py[cod]
recursive-exclude * .pytest_cache .ruff_cache
